<div id="container">
  <div id="body">
    <div
      class="row rounded navbar navbar-dark bg-dark"
      style="background-color: gray;"
    >
      <h4 class="col-sm-4" style="color: white;">Welcome to CreamIceLand</h4>
    </div>
    <div
      class="row rounded"
      style="
        height: 300px;
        background-color: rgb(255, 255, 255);
        padding-top: 10px;
      "
    >
      <div class="col-sm-3">
        <img
          class="rounded-circle"
          [src]="imgURL"
          alt=""
          style="
            margin-left: 20px;
            margin-bottom: 10px;
            max-height: 150px;
            max-width: 150px;
            min-width: 150px;
            min-height: 150px;
          "
        />
        <input type="file" (change)="onFileChanged($event)" />
      </div>

      <div class="col-sm-4">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Name</span>
          </div>
          <input
            [(ngModel)]="user.name"
            type="text"
            class="form-control"
            aria-label="Username"
            aria-describedby="addon-wrapping"
            disabled
          />
        </div>

        <div class="input-group flex-nowrap" style="padding-top: 20px;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping"
              >Phone number</span
            >
          </div>
          <input
            [(ngModel)]="user.phonenumber"
            type="text"
            class="form-control"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>

        <div class="form-check" style="padding-top: 20px;">
          <input
            class="form-check-input"
            type="checkbox"
            id="defaultCheck1"
            [(ngModel)]="user.status"
          />
          <label class="form-check-label" for="defaultCheck1">
            <h5>Enable</h5>
          </label>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <button
              (click)="backClicked()"
              type="button"
              class="btn btn-secondary btn-block"
            >
              Back
            </button>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
            <button
              (click)="saveProfile()"
              type="button"
              class="btn btn-primary btn-block"
            >
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
