<div id="body">
  <nav class="row rounded navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse h4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="informationLink"
            routerLinkActive="active"
            active="true"
            >Profile
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/icecreamlist"
            routerLinkActive="active"
            >Icecream
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/#" routerLinkActive="active"
            >Order
          </a>
        </li>
      </ul>
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Log out
      </a>
    </div>
  </nav>
  <div
    class="row rounded"
    style="background-color: rgb(255, 255, 255); padding: 20px;"
  >
    <div class="row" style="width: 100%; height: 40px; margin-bottom: 20px;">
      <h6 class="col-sm-3" style="color: rgb(43, 44, 44);">
        ORDERS
      </h6>
    </div>

    <table class="table table-bordered table-primary" style="margin: 0;">
      <thead class="bg-secondary" style="color: rgb(121, 245, 142);">
        <tr>
          <th scope="col" *ngFor="let u of in">
            {{ u }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of orders; let i = index">
          <td text-truncate scope="row">{{ u.id }}</td>
          <td text-truncate scope="row">{{ u.createdate }}</td>
          <td text-truncate scope="row">{{ total[i] }}</td>
          <td text-truncate scope="row">{{ u.status }}</td>
        </tr>
      </tbody>
    </table>
    <div class="row" style="width: 100%;">
      <div class="col-sm-5"></div>
      <div class="col-sm-1" style="text-align: center;">
        <img
          (click)="toLeftPage()"
          src="../../assets/icon/left_arrow.png"
          style="width: 20px;"
          alt=""
        />
      </div>
      <div class="col-sm-1" style="text-align: center;">
        <h5>Page {{ pageNum }}/{{ totalPage }}</h5>
      </div>
      <div class="col-sm-1" style="text-align: center;">
        <img
          (click)="toRightPage()"
          src="../../assets/icon/right_arrow.png"
          style="width: 20px;"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
