<div id="container">
  <div id="body">
    <div
      class="row rounded navbar navbar-dark bg-dark"
      style="background-color: gray;"
    >
      <h4 class="col-sm-4" style="color: white;">
        Recipe:{{ recipeJson.title }}
      </h4>
    </div>
    <div
      class="row rounded"
      style="background-color: rgb(255, 255, 255); padding-top: 30px;"
    >
      <div class="col-sm-3">
        <img
          class="rounded-circle"
          [src]="imgURL"
          alt=""
          style="
            margin-left: 20px;
            margin-bottom: 10px;
            max-height: 150px;
            max-width: 150px;
            min-width: 150px;
            min-height: 150px;
          "
        />
        <input type="file" (change)="onFileChanged($event)" />
      </div>

      <div class="col-sm-5">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Title</span>
          </div>
          <input
            [(ngModel)]="recipeJson.title"
            type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>

        <div ngbDropdown class="d-block" style="padding-top: 20px;">
          <button
            [disabled]="role"
            class="btn btn-outline-secondary btn-block"
            id="dropdownBasic2"
            ngbDropdownToggle
          >
            {{ userJson.name }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button
              *ngFor="let i of user"
              (click)="setUsername(i.id, i.name)"
              ngbDropdownItem
            >
              {{ i.name }}
            </button>
          </div>
        </div>

        <div class="input-group flex-nowrap" style="padding-top: 20px;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Price</span>
          </div>
          <input
            [(ngModel)]="recipeJson.price"
            type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>

        <div class="form-check col-sm-1" style="padding-top: 20px;">
          <input
            class="form-check-input"
            type="checkbox"
            id="defaultCheck1"
            [(ngModel)]="recipeJson.status"
          />
          <label class="form-check-label" for="defaultCheck1">
            <h5>Enable</h5>
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Dateupload</span>
          </div>
          <input
            [(ngModel)]="recipeJson.uploaddate"
            type="date"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>

        <div class="input-group flex-nowrap" style="padding-top: 20px;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping"
              >Description</span
            >
          </div>
          <textarea
            [(ngModel)]="recipeJson.description"
            type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
            style="max-height: 153px; min-height: 38px;"
          >
          </textarea>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <button
              (click)="saveProfile()"
              type="button"
              class="btn btn-primary btn-block"
              style="margin-top: 15px;"
            >
              Save
            </button>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5" style="text-align: center;">
            <button
              (click)="onBack()"
              type="button"
              class="btn btn-secondary btn-block"
              style="margin-top: 15px;"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
