<div id="container">
  <div id="body">
    <div
      class="row rounded navbar navbar-dark bg-dark"
      style="background-color: gray;"
    >
      <h4 class="col-sm-4" style="color: white;">Welcome to CreamIceLand</h4>
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="loginsubmit(loginForm.value)"
      class="row rounded"
      style="height: 450px; background-color: rgb(255, 255, 255);"
    >
      <div class="col-sm-3"></div>
      <div class="col-sm-5" style="margin: 100px 0 70px 0;">
        <div
          class="shadow-lg md-elevation-z24 rounded-pill"
          style="padding: 50px 50px 40px 50px;"
        >
          <div class="input-group flex-nowrap">
            <input
              formControlName="_username"
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
          </div>
          <div class="input-group flex-nowrap" style="padding-top: 10px;">
            <input
              formControlName="_password"
              type="password"
              class="form-control"
              placeholder="Password"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
          </div>
          <div class="row" style="padding-top: 15px;">
            <div class="col-sm-6">
              <a (click)="forgotPass()" href="/login">Forgot your password?</a
              ><br />
              Not a member?<a
                href="/login#"
                (click)="regist(loginForm.value)"
                type="submit"
              >
                Register</a
              >
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary btn-block">
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </form>
  </div>
</div>
