<div id="body">
  <nav class="row rounded navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse h4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="informationLink"
            routerLinkActive="active"
            active="true"
            >Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/#" routerLinkActive="active"
            >Icecream
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cusorderlist"
            routerLinkActive="active"
            >Order
          </a>
        </li>
      </ul>
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Log out
      </a>
    </div>
  </nav>

  <div
    class="row rounded"
    style="background-color: rgb(255, 255, 255); padding: 20px;"
  >
    <div class="row" style="width: 100%; height: 40px;">
      <h6 class="col-sm-1" style="color: rgb(43, 44, 44);">ICECREAM</h6>
      <div class="col-sm-10"></div>
      <div class="col-sm-1">
        <button
          type="button"
          class="btn btn-outline-light"
          (click)="openCart()"
        >
          <img
            src="../../assets/icon/cart.png"
            style="width: 40px; height: 40px;"
          />
          <span *ngIf="cartNum.length != 0" class="badge badge-danger">
            {{ cartNum.length }}
          </span>
        </button>
      </div>
    </div>

    <div class="row" style="width: 100%; margin-top: 10px;">
      <div
        class="col-sm-2"
        *ngFor="let l of recipelist"
        style="text-align: center;"
      >
        <button
          type="button"
          class="btn"
          placement="right"
          ngbTooltip="{{ l.title }}"
          style="border-color: rgb(214, 210, 210);"
          (click)="recipeInfo(l.id)"
        >
          <img
            [src]="'data:image/jpeg;base64,' + l.image"
            style="
              max-width: 150px;
              min-width: 150px;
              max-height: 150px;
              min-height: 150px;
            "
          />
        </button>
        <br />
        <h6 style="color: grey;">Views:{{ l.viewcount }}</h6>

        <b style="color: red;">Price: {{ l.price }}đ </b>
        <br />
        <button
          type="button"
          class="btn btn-light"
          style="margin-top: 20px;"
          (click)="addToCart(l.id)"
        >
          <img
            src="../../assets/icon/cart.png"
            alt=""
            style="max-width: 20px; max-height: 20px;"
          />
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
