<div id="container">
  <div id="body">
    <div
      class="row rounded navbar navbar-dark bg-dark"
      style="background-color: gray;"
    >
      <h4 class="col-sm-4" style="color: white;">
        {{ recipe.title }}
      </h4>
    </div>
    <div
      class="row rounded"
      style="background-color: rgb(255, 255, 255); padding-top: 30px;"
    >
      <div class="col-sm-2" style="text-align: center;">
        <img
          class="rounded-circle"
          [src]="imgURL"
          alt=""
          style="
            margin-left: 20px;
            margin-bottom: 10px;
            max-height: 150px;
            max-width: 150px;
            min-width: 150px;
            min-height: 150px;
          "
        />
        <div class="jumbotron jumbotron-fluid" style="padding: 20px;">
          Feedback:

          <div class="container" *ngFor="let i of feedback">
            <b class="lead">- {{ i }}</b>
          </div>
        </div>
      </div>

      <div class="jumbotron jumbotron-fluid col-sm-6" style="padding: 20px;">
        <div class="container">
          Made from:
          <b class="lead">
            {{ recipe.uploaddate }}
          </b>
          <br />
          By:
          <b class="lead">
            {{ madeby }}
          </b>
          <br />
          <b class="lead">
            {{ recipe.description }}
          </b>
          <br />
          Price:
          <b class="lead">
            {{ recipe.price }}
          </b>
          <br />
          Number of view:
          <b class="lead">
            {{ recipe.viewcount }}
          </b>
        </div>
      </div>
      <div class="col-sm-3">
        <table style="height: 90%; float: right;">
          <tbody>
            <tr>
              <td class="align-top">
                <button
                  type="button"
                  class="btn btn-light"
                  style="padding-top: -30px;"
                  (click)="addToCart()"
                  ngbTooltip="Add to cart"
                  style="float: right;"
                >
                  <img
                    src="../../assets/icon/cart.png"
                    alt=""
                    style="max-width: 20px; max-height: 20px;"
                  />
                  Add to cart
                </button>
              </td>
            </tr>
            <tr>
              <td class="align-bottom">
                <button
                  type="button"
                  class="btn btn-light btn-block"
                  style="color: black;"
                  (click)="onBack()"
                >
                  Back
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
