<div id="body">
  <nav class="row rounded navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse h4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="informationLink"
            routerLinkActive="active"
            active="true"
            >Profile
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/icecreamlist"
            routerLinkActive="active"
            >Icecream
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cusorderlist"
            routerLinkActive="active"
            >Order
          </a>
        </li>
      </ul>
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Log out
      </a>
    </div>
  </nav>
  <div
    class="row rounded"
    style="background-color: rgb(255, 255, 255); padding: 20px;"
  >
    <div class="row" style="width: 100%; height: 40px; margin-bottom: 20px;">
      <h6 class="col-sm-3" style="color: rgb(43, 44, 44);">
        SHOPPING CART
      </h6>
    </div>

    <table class="table table-bordered table-primary" style="margin: 0;">
      <thead class="bg-secondary" style="color: rgb(121, 245, 142);">
        <tr>
          <th>No</th>
          <th scope="col" *ngFor="let o of in">{{ o }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of recipe; let i = index">
          <td>{{ i }}</td>
          <td>{{ recipe[i] }}</td>
          <td>{{ quantity[i] }}</td>
          <td>{{ price[i] }}</td>
          <td scope="row">
            <button
              (click)="removeOrder(i)"
              type="button"
              class="btn btn-danger"
            >
              <i>
                <img
                  src="../../assets/icon/32-512.webp"
                  alt=""
                  style="width: 14px; height: 14px;"
                />
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row" style="width: 100%; margin-top: 20px;">
      <div class="col-sm-2">
        <button
          (click)="saveOrders()"
          type="button"
          class="btn btn-outline-success btn-block"
        >
          Order
        </button>
      </div>

      <div class="col-sm-2">
        <button
          (click)="removeAll()"
          type="button"
          class="btn btn-outline-danger btn-block"
        >
          Cancel order
        </button>
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-2" style="text-align: right;">
        <button
          (click)="cancel()"
          type="button"
          class="btn btn-outline-info btn-block"
        >
          Back
        </button>
      </div>
    </div>
  </div>
</div>
