<div
  id="container"
  style="padding: 0 30px 0 30px; background-color: lightcyan;"
>
  <div id="header" class="row" style="height: 167px;">
    <div class="col-sm-2" style="padding: 0px; height: 100%;">
      <img src="../../assets/image/logo.png" alt="" style="height: 100%;" />
    </div>
    <div class="col-sm-6" style="padding: 0; height: 100%;"></div>
    <div class="col-sm-4" style="padding: 0px 0 0 0; height: 100%;">
      <img
        src="../../assets/image/banner.jpg"
        alt="banner"
        style="width: 100%; height: 100%;"
      />
    </div>
  </div>
  <router-outlet></router-outlet>
  <div id="footer" style="text-align: end;">
    Directed by Micheal Bay
  </div>
</div>
