<div id="body">
  <nav class="row rounded navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse h4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/userlist"
            routerLinkActive="active"
            active="true"
            >User
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/customerlist"
            routerLinkActive="active"
            >Customer
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/#" routerLinkActive="active"
            >Recipe
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orderslist" routerLinkActive="active"
            >Order
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="informationLink"
            routerLinkActive="active"
            >Setting
          </a>
        </li>
      </ul>
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Log out
      </a>
    </div>
  </nav>

  <div
    class="row rounded"
    style="background-color: rgb(255, 255, 255); padding: 20px;"
  >
    <div class="row" style="width: 100%; height: 40px;">
      <h6 class="col-sm-1" style="color: rgb(43, 44, 44);">RECIPE</h6>
      <div class="col-sm-9"></div>
      <div *ngIf="role" class="col-sm-2">
        <button
          style="float: right;"
          type="button"
          class="btn btn-success"
          (click)="addRecipe()"
        >
          Add recipe
        </button>
      </div>
    </div>
    <table class="table table-bordered table-primary" style="margin: 0;">
      <thead class="bg-secondary" style="color: rgb(121, 245, 142);">
        <tr>
          <th *ngIf="role" scope="col"></th>
          <th scope="col" *ngFor="let u of in">{{ u }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of recipe">
          <td *ngIf="role" scope="row" style="text-align: center;">
            <button
              (click)="deleteRecipe(u.id)"
              type="button"
              class="btn btn-danger"
            >
              <i
                ><img
                  src="../../assets/icon/32-512.webp"
                  alt=""
                  style="width: 14px; height: 14px;"
              /></i>
            </button>
          </td>
          <td
            class="text-truncate"
            style="max-width: 150px;"
            (click)="openProduct(u.id)"
            scope="row"
            *ngFor="let col of in"
          >
            {{ u[col] }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row" style="width: 100%;">
      <div class="col-sm-5"></div>
      <div class="col-sm-1" style="text-align: center;">
        <img
          (click)="toLeftPage()"
          src="../../assets/icon/left_arrow.png"
          style="width: 20px;"
          alt=""
        />
      </div>
      <div class="col-sm-1" style="text-align: center;">
        <h5>Page {{ pageNum }}/{{ totalPage }}</h5>
      </div>
      <div class="col-sm-1" style="text-align: center;">
        <img
          (click)="toRightPage()"
          src="../../assets/icon/right_arrow.png"
          style="width: 20px;"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
