<div id="body">
  <nav class="row rounded navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse h4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/userlist"
            routerLinkActive="active"
            active="true"
            >User
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/customerlist"
            routerLinkActive="active"
            >Customer
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipelist" routerLinkActive="active"
            >Recipe
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/feedbacklist"
            routerLinkActive="active"
            >Feedback
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orderslist" routerLinkActive="active"
            >Order
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="informationLink"
            routerLinkActive="active"
            >Setting
          </a>
        </li>
      </ul>
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Log out
      </a>
    </div>
  </nav>
  <div
    class="row rounded"
    style="background-color: rgb(255, 255, 255); padding: 20px;"
  >
    <div class="row" style="width: 100%; height: 40px; margin-bottom: 20px;">
      <h6 class="col-sm-3" style="color: rgb(43, 44, 44);">
        ORDERS DETAILS:{{ orderid }}
      </h6>
      <div
        *ngIf="!role"
        class="col-sm-7"
        ngbDropdown
        class="d-block"
        placement="right"
      >
        <button
          class="btn btn-outline-secondary btn-block"
          id="dropdownBasic1"
          ngbDropdownToggle
          [disabled]="status == 'Rejected'"
        >
          {{ status }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            (click)="setStatus(ss, i)"
            *ngFor="let ss of statusString; let i = index"
            ngbDropdownItem
          >
            {{ ss }}
          </button>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-primary" style="margin: 0;">
      <thead class="bg-secondary" style="color: rgb(121, 245, 142);">
        <tr>
          <th>No</th>
          <th scope="col" *ngFor="let u of in">
            {{ u }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of ordersdetails; let i = index">
          <td>{{ i }}</td>
          <td text-truncate scope="row" *ngFor="let col of in">
            {{ u[col] }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row" style="width: 100%; margin-top: 20px;">
      <div class="col-sm-8"></div>
      <div class="col-sm-2">
        <button
          (click)="saveStatus()"
          type="button"
          class="btn btn-outline-success btn-block"
        >
          Save
        </button>
      </div>
      <div class="col-sm-2" style="text-align: right;">
        <button
          (click)="cancel()"
          type="button"
          class="btn btn-outline-info btn-block"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
