<div id="container">
  <div id="body">
    <div
      class="row rounded navbar navbar-dark bg-dark"
      style="background-color: gray;"
    >
      <h4 class="col-sm-4" style="color: white;">Customer Profile</h4>
    </div>
    <div
      class="row rounded"
      style="background-color: rgb(255, 255, 255); padding-top: 30px;"
    >
      <div class="col-sm-3">
        <img
          class="rounded-circle"
          [src]="imgURL"
          alt="aaa"
          style="
            margin-left: 20px;
            margin-bottom: 10px;
            max-height: 150px;
            max-width: 150px;
            min-width: 150px;
            min-height: 150px;
          "
        />
        <input type="file" (change)="onFileChanged($event)" />
      </div>
      <div class="col-sm-3">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Name</span>
          </div>
          <input
            [(ngModel)]="customer.name"
            type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>

        <div class="input-group flex-nowrap" style="padding-top: 20px;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Phone</span>
          </div>
          <input
            [(ngModel)]="customer.phone"
            type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Email</span>
          </div>
          <input
            [(ngModel)]="customer.email"
            type="email"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>

        <div class="input-group flex-nowrap" style="padding-top: 20px;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Address</span>
          </div>
          <input
            [(ngModel)]="customer.address"
            type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="col-sm-5">
            <button
              (click)="onBack()"
              type="button"
              class="btn btn-secondary btn-block"
            >
              Back
            </button>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
            <button
              (click)="saveProfile()"
              type="button"
              class="btn btn-primary btn-block"
            >
              Save
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">DOB</span>
          </div>
          <input
            [(ngModel)]="customer.dob"
            type="date"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>

        <div class="row">
          <div
            ngbDropdown
            class="d-inline-block col-sm-9"
            style="padding-top: 20px;"
          >
            <button
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ gender }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="setGender('Male')" ngbDropdownItem>Male</button>
              <button (click)="setGender('Female')" ngbDropdownItem>
                Female
              </button>
            </div>
          </div>

          <div class="form-check col-sm-1" style="padding-top: 30px;">
            <input
              [disabled]="role"
              class="form-check-input"
              type="checkbox"
              id="defaultCheck1"
              [(ngModel)]="customer.status"
            />
            <label class="form-check-label" for="defaultCheck1">
              <h5>Enable</h5>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
